// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
}

body {
    padding-top: 50px;
}

.hidden {
    display: none;
}

.sidebar-nav {
    padding: 6px;
    margin: 18px 0;
}