<%= project_form.fields_for :technologies do |f| %>
    <div class="clearfix">
      <%= f.label :name, 'Technologies' %>
      <div class="input">
        <%= f.text_field :name, :rows => 8, :class => "xxlarge" %>
      </div>
    </div>
<% end %>