<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">CVgen</a>
      <ul class="nav">
        <li><%= link_to 'Projects', projects_path %></li>
        <li><%= link_to 'Technologies', technologies_path %></li>
      </ul>
      <ul class="nav pull-right">
        <li><%= link_to 'Login', login_path %></li>
      </ul>
    </div>
  </div>
</div>